.btn-save{
    background-color: rgb(106, 106, 253);
    color: white;
    margin-left: 400px;
}

.modal-text-head{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 20px;
}

.modal-text-input{
    font-family: 'Kanit', sans-serif;
}

