<header>
  <h2 class="text-center head-text">
    ติดต่อผู้จัดทำ
  </h2>
</header>

<body> 
  <div class="row text-center">
    <div class="col-12">
      <img class="sci-logo" src="https://sci.ssru.ac.th/img/base/logo2.png" >
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h4 class="body-text">นายกฤษตฤณ เทียนช้าง</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h4 class="body-text">รหัสนักศึกษา 58122201086</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h4 class="body-text">e-mail : s58122201086@ssru.ac.th</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h4 class="body-text">สาขาวิทยาการณ์คอมพิวเตอร์ คณะวิทยาศาสตร์เเละเทคโนโลยี</h4>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <h4 class="body-text">มหาวิทยาลัยราชภัฏสวนสุนันทา</h4>
    </div>
  </div>
  
</body>
