.head-text{
    font-family: 'Kanit', sans-serif;
    margin-top: 20px;
}

.body-text{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.sci-logo{
    width: 147px;
    height: 196px;
    margin-top: 20px;
    margin-bottom: 20px;
}
      
