.review-img{
    width: 65px;
    height: 61px;
    margin-bottom: 20px;
}

.header-text{
    margin-top: 25px;
    font-family: 'Kanit', sans-serif;
}

.card{
    margin-top: 20px;
    margin-left: 125px;
    margin-bottom: 20px;
}

.img-card{
    width: 350px;
    min-height: 120px;
    max-height: 220px;
    margin-left: 0.5px;
}

.text-card-header{
    font-family: 'Kanit', sans-serif;
}

.p-card{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.p-review{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    margin-left: 7px;
    margin-top: -19px;
}

.icon{
    width: 20px;
    margin-right: 5px;
}