.header{
    font-family: 'Kanit', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.p-temple{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

.icon{
    width: 28px;
    height: 26px;
    margin: 95px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }