<header >
  <h2 class="header-text text-center" *ngIf="historydata[0] && historydata[0].historyname">
    {{historydata[0].historyname}}
  </h2>
</header>

<body>

  <div class="container border" *ngIf="historydata[0] && historydata[0].historyimage">
    <div class="row">
      <div class="col-6" >
        <img class="img" [src]="historydata[0].historyimage">
      </div>
      <div class="col-6">
        <p class="p-text">
          {{historydata[0].historydescription}}
        </p>
      </div>
    </div>
  </div>








</body>



