<header>
  <h1 class="header-text">
    หมวดหมู่สถานที่ท่องเที่ยว
  </h1>
</header>

<body>
 <div class="row">
   <div class="col-4"  *ngFor="let temple of placedata.temple">
    <div class="card" style="width: 18rem;">
      <img [src]="temple.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{temple.name}}</h5>
        <p class="card-text text-ellipsis">{{temple.description}}</p>
      </div>
    </div>
   </div>
 </div>

 <div class="row">
  <div class="col-4"  *ngFor="let restaurant of placedata.restaurant">
   <div class="card" style="width: 18rem;">
     <img [src]="restaurant.image" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">{{restaurant.name}}</h5>
       <p class="card-text text-ellipsis">{{restaurant.description}}</p>
     </div>
   </div>
  </div>
</div>

<div class="row">
  <div class="col-4"  *ngFor="let cafe of placedata.cafe">
   <div class="card" style="width: 18rem;">
     <img [src]="cafe.image" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">{{cafe.name}}</h5>
       <p class="card-text text-ellipsis">{{cafe.description}}</p>
     </div>
   </div>
  </div>
</div>

<div class="row">
  <div class="col-4"  *ngFor="let otherplace of placedata.otherplace">
   <div class="card" style="width: 18rem;">
     <img [src]="otherplace.image" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">{{otherplace.name}}</h5>
       <p class="card-text text-ellipsis">{{otherplace.description}}</p>
     </div>
   </div>
  </div>
</div>

</body>